.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #808080;
  color: white;
  border-radius: 5px;
}

.arrow {
  font-size: 30px;
  cursor: pointer;
}

.left-arrow {
  margin-right: 20px;
}

.right-arrow {
  margin-left: 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  cursor: pointer;
  font-size: 17px;
}


.nav-item.selected {
  color: #00FFFF;  
}

.arrow.disabled {
  color: black;
  cursor: disabled;
}