<div class="container">
  <h1>Upcoming Events</h1>

  <div class="slider-wrapper">
    <button
      *ngIf="visibleEvents.upcoming.length > 0"
      class="prev-button"
      (click)="prevSlide('upcoming')"
    >
      ❮
    </button>

    <div class="card-container">
      <div class="card" *ngFor="let event of visibleEvents.upcoming">
        <div class="card-image-container">
          <div class="free-label">
            <span class="label-text">{{
              event.is_Paid_Free ? "Paid" : "Free"
            }}</span>
          </div>
          <img src="{{ event.image }}" alt="Event Image" class="card-image" />
        </div>
        <div class="card-content">
          <div class="card-info">
            <div class="card-date">{{ event.date }}</div>
            <div class="card-text">{{ event.title }}</div>
          </div>
          <div class="card-divider"></div>
          <div class="card-register">
            <button *ngIf="displayShareButton" class="share-button">
              Share
            </button>

            <i
              [ngClass]="
                isLiked(event) ? 'fas fa-heart text-red-500' : 'far fa-heart'
              "
              (click)="toggleLike(event)"
              class="cursor-pointer text-2xl"
            ></i>

            <button class="register-button">Register</button>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="visibleEvents.upcoming.length > 0"
      class="next-button"
      (click)="nextSlide('upcoming')"
    >
      ❯
    </button>
  </div>

  <h1>Completed Events</h1>

  <div class="slider-wrapper">
    <button
      *ngIf="visibleEvents.completed.length > 0"
      class="prev-button"
      (click)="prevSlide('completed')"
    >
      ❮
    </button>

    <div class="card-container">
      <div class="card" *ngFor="let event of visibleEvents.completed">
        <div class="card-image-container">
          <div class="free-label">
            <span class="label-text">{{
              event.is_Paid_Free ? "Paid" : "Free"
            }}</span>
          </div>
          <img src="{{ event.image }}" alt="Event Image" class="card-image" />
        </div>
        <div class="card-content">
          <div class="card-info">
            <div class="card-date">{{ event.date }}</div>
            <div class="card-text">{{ event.title }}</div>
          </div>
          <div class="card-divider"></div>
          <div class="card-register">
            <button *ngIf="displayShareButton" class="share-button">
              Share
            </button>

            <i
              [ngClass]="
                isLiked(event) ? 'fas fa-heart text-red-500' : 'far fa-heart'
              "
              (click)="toggleLike(event)"
              class="cursor-pointer text-2xl"
            ></i>

            <button class="register-button">Register</button>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="visibleEvents.completed.length > 0"
      class="next-button"
      (click)="nextSlide('completed')"
    >
      ❯
    </button>
  </div>

  <h1>Career</h1>

  <div class="slider-wrapper">
    <button
      *ngIf="visibleEvents.career.length > 0"
      class="prev-button"
      (click)="prevSlide('career')"
    >
      ❮
    </button>

    <div class="card-container">
      <div class="card" *ngFor="let event of visibleEvents.career">
        <div class="card-image-container">
          <div class="free-label">
            <span class="label-text">{{
              event.is_Paid_Free ? "Paid" : "Free"
            }}</span>
          </div>
          <img src="{{ event.image }}" alt="Event Image" class="card-image" />
        </div>
        <div class="card-content">
          <div class="card-info">
            <div class="card-date">{{ event.date }}</div>
            <div class="card-text">{{ event.title }}</div>
          </div>
          <div class="card-divider"></div>
          <div class="card-register">
            <button *ngIf="displayShareButton" class="share-button">
              Share
            </button>

            <button class="register-button">Register</button>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="visibleEvents.career.length > 0"
      class="next-button"
      (click)="nextSlide('career')"
    >
      ❯
    </button>
  </div>
</div>
