html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%; 
}

.container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  width: 100%;
  padding: 10px; 
  flex-direction: column; 
  box-sizing: border-box; 
}

h1 {
  color: white;
  margin-top: 20px; 
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 20px; 
  text-align: center; 
  margin-left: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  width: 100%;
  max-width: 100vw; 
  padding: 0 10px; 
  box-sizing: border-box; 
  align-items: stretch; 
}

.card {
  background-color: #333; 
  color: white; 
  border-radius: 8px; 
  width: 310px; 
  min-height: 250px; 
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  margin: 0 auto; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card-image-container {
  position: relative;
  width: 100%;  
  padding: 7px;  
  border-radius: 5px; 
  overflow: hidden; 
  box-sizing: border-box;  
}

.card-image {
  width: 100%; 
  height: auto; 
  object-fit: cover;  
  border: 2px solid cyan; 
  border-radius: 5px;  
  padding: 0;  
}

.card-content {
  padding: 15px; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  flex-grow: 1; 
}

.card-info {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  gap: 5px; 
  flex-grow: 1; 
}

.card-date {
  font-size: 1rem;
  color: #f1c40f;
  white-space: normal; 
  word-wrap: break-word;
}

.card-text {
  font-size: 1rem; 
  color: white; 
  display: block; 
  flex-grow: 1;
  margin-bottom: 15px;
}

.card-divider {
  width: 100%; 
  height: .1rem; 
  background-color: black; 
  margin-top: auto; 
}

.card-register {
  display: flex;
  justify-content: space-between;  
  width: 100%;  
  margin-top: 2px; 
  gap: 20px; 
  padding: 5px 0; 
}

.share-button {
  margin-top: 7px;
  background-color: blue;
  color: white;
  padding: 8px 12px; 
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 12px; 
}

.register-button {
  margin-top: 7px;
  background-color: red; 
  color: white;  
  font-size: 12px; 
  padding: 6px 8px; 
  border: none;
  border-radius: 50px;  
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.register-button:hover {
  background-color: darkred;
}

.share-button:hover{
  background-color: rgb(91, 121, 222);
}


.free-label {
  position: absolute;
  top: 3px;
  right: -20px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent; 
  border-right: 40px solid transparent; 
  border-bottom: 40px solid red; 
  transform: rotate(45deg); 
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  z-index: 10;
}


.label-text {
  position: relative;
  top: 24px;
}