<div class="container">
    <div class="header">
      <img
        src="https://images.unsplash.com/photo-1598449356475-b9f71db7d847?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9yaXpvbnRhbHxlbnwwfHwwfHx8MA%3D%3D"
      />
      <div class="text-overlay">
        <h1>Level Up Your Science IQ: Explore Engaging</h1>
        <h1>Events at ScienceOverse.</h1>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <img src="https://cdn-icons-png.flaticon.com/128/9582/9582467.png" class="card-icon" alt="icon" />
          </div>
          <h3>
            Explore interesting <span class="highlight">webinars</span>
            <span class="highlight">/sessions!!</span>
          </h3>
        </div>
        <p>Expand your knowledge and network through engaging online events.</p>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <img src="https://cdn-icons-png.flaticon.com/128/6862/6862199.png" class="card-icon" alt="icon" />
          </div>
          <h3>
            Participate in national/international <span class="highlight">competitions.</span>
          </h3>
        </div>
        <p>Showcase your talent and challenge yourself at a global stage.</p>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <img src="https://cdn-icons-png.flaticon.com/128/689/689396.png" class="card-icon" alt="icon" />
          </div>
          <h3>
            Find different <span class="highlight">internships</span>
            to skill-up.
          </h3>
        </div>
        <p>Gain practical experience and boost your career prospects.</p>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <img src="https://cdn-icons-png.flaticon.com/128/2436/2436805.png" class="card-icon" alt="icon" />
          </div>
          <h3>
            Check free/paid <span class="highlight">courses.</span>
          </h3>
        </div>
        <p>Expand your knowledge and network through engaging online events.</p>
      </div>
    </div>
</div>
  