<div>
  <app-navbar (selectedCategory)="onCategorySelect($event)"></app-navbar>
  <app-sidebar
    [selectedCategory]="selectedCategory"
    [selectedSubCategory]="selectedSubCategory"
    (selectedSubCategoryChange)="onSubCategorySelected($event)"
    (selectedSubSubCategoryChange)="onSubSubCategorySelected($event)"
  ></app-sidebar>

  <app-content
    [selectedCategory]="selectedCategory"
    [selectedSubCategory]="selectedSubCategory"
    [selectedSubSubCategory]="selectedSubSubCategory"
  >
  </app-content>
  <a routerLink="/events">Go to Event page</a>
</div>
