<div class="container">
  <div class="content" [innerHTML]="content">
    
  </div>
</div>

<div class="image-wrapper">
  <div class="image top-right">
    <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHVybHxlbnwwfHwwfHx8MA%3D%3D" alt="Image 1" />
  </div>
  <div class="image bottom-right">
    <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHVybHxlbnwwfHwwfHx8MA%3D%3D" alt="Image 2" />
  </div>
</div>
