<div class="sidebar">
  <div *ngFor="let subResource of resourceData?.subResources" class="subcategory-item">
    <div class="dropdown-button" (click)="toggleSubSubCategoryVisibility(subResource)"
    [class.selected]="subResource === selectedSubCategoryValue">
      {{ subResource }}
    </div>

    <div *ngIf="subResource === selectedSubCategoryValue" class="subcategory-list">
      <div *ngFor="let subSubResource of subResourceData?.subResources" 
           (click)="onSubSubCategoryChange(subSubResource)"
           [class.selected]="subSubResource === selectedSubSubCategoryValue">
        {{ subSubResource }}
      </div>
    </div>
  </div>
</div>