@font-face {
    font-family: 'CustomFont';  /* Name of the font */
    src: url('assets/fonts/Handelson_Five.ttf') format('truetype'),
         url('assets/fonts/Handelson_Five.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    background-color:#0f000d;
    font-family: 'CustomFont', sans-serif;
    height: 100%;
}
  