.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    position: relative;
  }
  
  .certificate-fields {
    margin-bottom: 20px;
  }
  
  .certificate-fields label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
  }
  
  .certificate-fields input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: black
  }
  
  .certificate-fields input:focus {
    border-color: #2a3d7f;
    outline: none;
  }
  
  .remarks {
    margin-bottom: 20px;
    font-size: 16px;
    color:white;
  }
  
  .remarks h3 {
    font-size: 20px;
    color:white;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .submit-section {
    text-align: center;
  }
  
  .submit-section button {
    background-color: #2a3d7f;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-section button:hover {
    background-color: #1a2b59;
  }
  
  .issued-by {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
  }
  